header{
    background-color: black;
    padding-left: 70px;
    padding-top: 10px;
}
h1{
    color: red;
}
body{
    background-color: black;
    margin: 0px;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    width: 500px;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
height: 5px;
background-color: white;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}