header{
    background-color: black;
    padding-left: 70px;
    padding-top: 10px;
}
h1{
    color: red;
}
body{
    background-color: black;
    margin: 0px;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    width: 500px;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
height: 5px;
background-color: white;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    font-size: 20px;
}
.carrossel-de-filmes{
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 50px;
}
.filmes{
display: flex;
gap: 20px;
overflow-x: auto;
}
.filmes img{
width: 400px;
}
.filmes img:hover{
    width: 400px;
    border: 3px solid red;
}

